### 모듈 import

In [1]:
#모듈 import
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib

print('Pandas : %s'%(pd.__version__))
print('Numpy : %s'%(np.__version__))
print('matplotlib : %s'%(matplotlib.__version__))
!python --version

Pandas : 1.3.2
Numpy : 1.19.5
matplotlib : 3.3.4
Python 3.8.8

사용한 버전  
Pandas : 1.3.2  
Numpy : 1.19.5  
matplotlib : 3.3.4  
pycaret : 2.3.3  
Python 3.8.8

### 데이터 불러오기

In [3]:
data_path = './final_csv/'

cat = pd.read_csv(data_path + 'cat_0.83196.csv')
et = pd.read_csv(data_path + 'et_0.87917.csv')
rf = pd.read_csv(data_path + 'rf_0.87398.csv')
knn = pd.read_csv(data_path + 'knn_0.84066.csv')

In [4]:
# 보기 편하게 합쳐서 봄
display(pd.concat([cat,et,rf,knn], axis=1))

         SEQ    pred     SEQ  pred     SEQ  pred     SEQ    pred
0     T54370  0.0024  T54370  0.00  T54370  0.00  T54370  0.0000
1     T47892  0.0248  T47892  0.00  T47892  0.00  T47892  0.0000
2     T56637  0.6618  T56637  1.00  T56637  0.68  T56637  1.0000
3     T45487  0.0248  T45487  0.00  T45487  0.00  T45487  0.0000
4     T41995  0.0583  T41995  0.00  T41995  0.01  T41995  0.0000
...      ...     ...     ...   ...     ...   ...     ...     ...
4239  T31589  0.0123  T31589  0.00  T31589  0.00  T31589  0.0000
4240  T36236  0.0252  T36236  0.02  T36236  0.03  T36236  0.0000
4241  T34729  0.0233  T34729  0.00  T34729  0.00  T34729  0.0000
4242  T53830  0.0206  T53830  0.00  T53830  0.00  T53830  0.0000
4243  T30681  0.0921  T30681  0.41  T30681  0.24  T30681  0.0424

[4244 rows x 8 columns]

### Ensemble

In [5]:
# Public기준으로 성능이 가장 좋았던 et에 가장 많은 가중치를 주어 앙상블함
ensemble = (cat['pred'] * 0.1) + (et['pred'] * 0.7) + (rf['pred'] * 0.1) + (knn['pred'] * 0.1)

In [6]:
# 제출 양식에 맞게 지정해줌
make_csv = pd.DataFrame(rf['SEQ'])
make_csv['pred'] = ensemble

### Make submission

In [ ]:
t = pd.Timestamp.now()
fname = 'final.csv'
make_csv.to_csv(fname, index=False)
print("'{}' is ready to submit." .format(fname))

'final.csv' is ready to submit.

### END